h1 {
  color:#ffffff;
}

.title {
  padding:10px;
  margin:0px;
  margin-top:0px;
  text-align:left;
  
}

html , body {
  margin:0px;
  background-color:#f0f8ff;
  font-family:"Arial","メイリオ";
}

h2 {
  margin-top:20px;
  padding-top:5px;
  margin-left:30px;
  padding:10px;
  padding-left:10px;
  border-left: solid 5px #4d97ff;
  color:#000000;
  border-radius:2px;
  font-size:20px;
  
}

.honbun {
  margin-left:40px;
  padding:5px;
  text-decoration:none;
}
  
.danraku {
  margin-left:15px;
}

.link {
  text-decoration:none;
  color:#4169e1;
  font-weight:600;
}

#footer {
  margin-top:50px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  background-color:#f5f5f5;
  text-align:center;
  color:#000000;
}

li {
  text-decoration:none;
  color:#ffffff;
  font-weight:600;
  padding:10px;
  list-style:none;
  display: inline-block;
}

.header {
  display: inline-block;
  width:100%;
  margin:0px;
  background-color:#4d97ff;/*Scratchの色*/
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  color:#ffffff;
  margin-bottom:30px;
}

a {
  text-decoration:none;
}
