html {
  margin:0px;
  margin-top:0px;
  background-color:#f0f8ff;
  font-family:"Arial","メイリオ";
}

body {
  margin-top:0px;
  margin:0px;
}

h2 {
  margin-top:40px;
  padding-top:5px;
  margin-left:30px;
  padding:10px;
  padding-left:10px;
  border-left: solid 5px #4d97ff;
  color:#000000;
  border-radius:2px;
  font-size:20px;
}

.honbun {
  margin-left:40px;
  padding:5px;
  text-decoration:none;
}
  
.danraku {
  margin-left:15px;
}

.link {
  text-decoration:none;
  color:#4169e1;
  font-weight:600;
}

#footer {
  margin-top:50px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  background-color:#000000;
  text-align:center;
  color:#ffffff;
  padding:10px;
}

.nav {
  text-decoration:none;
  color:#ffffff;
  text-align:center;
  font-weight:600;
  padding-right: 10px;
  padding-left: 10px;
  margin-top:0px;
}

#header {
  width:100%;
  background-color:#4d97ff;/*Scratchの色*/
  /*box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);*/
  margin-top:0px;
  padding: 10px;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:solid 2px #284f86;
}
