@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Ubuntu+Mono&display=swap');

html {
  margin:0px;
  margin-top:0px;
  background-color:#233648;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:200;
  color:#f4f6f7
}

body {
  margin-top:0px;
  margin:0px;
  padding-top:80px;
}

h2 {
  margin-top:40px;
  padding-top:5px;
  margin-left:30px;
  padding:10px;
  padding-left:10px;
  border-left: solid 5px #51BEBE;
  color:#000000;
  border-radius:2px;
  font-size:20px;
}

main {
  margin-left:50px;
  padding:5px;
  text-decoration:none;
}

.link {
  text-decoration:none;
  color:#86938A;
  font-weight:600;
}

.link:hover {
  text-decoration:underline;
  color:#86938A;
  font-weight:600;
}

#footer {
  margin-top:50px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  background-color:#000000;
  text-align:center;
  color:#ffffff;
  padding:10px;
  width:100%;
}

.title {
  text-decoration:none;
  color:#ffffff;
  text-align:center;
  font-weight:600;
  font-size:18px;
  margin-right:20px;
  padding:20px;
}

.nav {
  text-decoration:none;
  color:#ffffff;
  text-align:center;
  font-weight:600;
  vertical-align: middle;
  padding:20px;
}

li {
  list-style:none;
}

ul {
  display: flex;
}

.pbox {
  padding:10px;
  margin:5px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);
  text-align:center;
  background-color:#000000;
  color:#ffffff;
}

img#png {
  margin-top:5px;
}

pre {
  background-color:#000000;
  border-radius:5px;
  padding:10px;
  color:#ffffff;
  margin-left:50px;
  margin-top:30px;
  font-size:10px;
  font-family: 'Ubuntu Mono', monospace;
}
header{
  width:100%;
  height:55px;
  background-color:#51BEBE;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  margin:0px;
  position: fixed;
  top: 0;
  left: 0;
}
